<nav>
    <a href="#" aria-label="Navigation bar menu" id="hamburger" class="slide-in-animation" href="">
        <div id="hamburger-icon"></div>
    </a>
    <a id="home" aria-label="Home" class="desktop-hyperlink slide-in-right-animation"
    href="/index.html"><i class="fas fa-home"></i></a>
    <a id="blog" aria-label="Blog" class="desktop-hyperlink slide-in-right-animation"
    href="/blog.html"><i class="fas fa-blog"></i></a>
    <a aria-label="Twitter" class="desktop-hyperlink slide-in-right-animation"
        href="https://twitter.com/craigcontreras_"><i class="fab fa-twitter"></i></a>
    <a aria-label="Instagram" class="desktop-hyperlink slide-in-right-animation"
        href="https://instagram.com/craigcontreras_"><i class="fab fa-instagram"></i></a>
    <a aria-label="GitHub" class="desktop-hyperlink slide-in-right-animation"
        href="https://github.com/craigcontreras"><i class="fab fa-github"></i></a>
    <a aria-label="TikTok" class="desktop-hyperlink slide-in-right-animation"
        href="https://tiktok.com/@craigcontreras_"><i class="fab fa-tiktok"></i></a>
    <a aria-label="Email" class="desktop-hyperlink slide-in-right-animation"
        href="mailto:craigcontreras@protonmail.com"><i class="fas fa-envelope-square"></i></a>
</nav>