@use "partials/global";

h1 {
    text-align: center;
    font-size: 3em;
    font-weight: 900;
}

h3 {
    font-size: 2em;
}

span {
    display: block;
    text-align: center;
}

article {
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
    width: 76%;
}

p {
    font-size: 1.5em;
}